@font-face {
  font-family: 'Gentium';
  src: url('./Gentium-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Andika';
  src: url('./AndikaTT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
