.header {
    display: flex;
    border-bottom: 2px #cccccc solid;
    position: relative;
    padding-left: 20px;
}

.header-container {
    width: 70%;
    margin-right: 20px;
}

.header_img_div {
    width: 30%;
    text-align: right;
    font-size: 12px;
    font-weight: 100;
    margin-right: 20px;
    height: inherit;
    position: relative;
}

.header_img {
    width: 210px;
    margin: 20px;
}

.header-title {
    font-size: 36px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 60px;
}

.header_uni {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.header_chair {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.header-button {
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #25292e;
    background-color: #f6f8fa;
    box-shadow: 0px 1px 0px 0px #1f23280a;
    border-radius: .375rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #25292e;
}

.header_authors {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .header-button {
        margin-bottom: 10px;
    }

    .header-container {
        width: 60%;
    }

    .header_img_div {
        width: 40%;
    }

    .header_img {
        width: 150px;
    }

    .header-button {
        font-size: 14px;
    }

    .header_authors {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .header-title {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}