.home-page-header {
    font-size: 20px;
}

.courses-grid {
    display: flex;
    flex-wrap: wrap;
}

.course-card-button-small {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 75px;
    font-size: 16px;
    color: #25292e;
    background-color: #f6f8fa;
    box-shadow: 0px 1px 0px 0px #1f23280a;
    border-radius: .375rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #25292e;
}

@media (max-width: 768px) {
    .course-card-button-small {
        width: 300px;
        height: 120px;
        font-size: 12px;
    }
}
